language: cpp

matrix:
  include:
    - os: osx
      osx_image: xcode11

script:
- git submodule update --init --recursive
- ./build.sh

deploy:
  provider: releases
  draft: true
  api_key:
    secure: WqLFUGDRUeX+uSIXQ8elOe/HcaBYDiBEVeyMFVA+WvmIYtFTXRJ94jp0FqqHuvff0L+VLzzc3NshyB7qM37L80kJcGdeOxXv85KU2F4PkUY+yhtDqliRbY9/1oeZNHww15ERXcrhXE9lmajdIDBjISG2jUpatPWMRAYelNDgWono3RsIoRRsySIGK3izyMAYZuCCL9zTPSzVos3rJ9X6MIIVcK/OLbKG21AJx3lhTIHccbhh6LU722SCSuW5FDAWYUNal0RmPKJgKt/KM3CNA375F4EG07b0L3flB2V1Q+XTSmzudrlc8Udes55ZgnXcsSRAsp+0JhePsxhXjLvIt9F0jOERKw4YFkDtAdAarjDa07aeTS0EekPxCr7v570dYTohzyHmSmJYOIhShPeevtjO1FuS0VAKH/BqMyRjHp0oUtjiKx8MiQMoe3RGhWyf/JfxA7Q0YTZLomEtk0ZrHqBOoLRUcTfDqLl6ms6MtYOZo0iGRB5rGukjLM/hBCEBrbb+WzHb9nrHhOBS3HGuYx2edibiIQFztMaCvAr9z7rN3fESb2wm6QR5YPyzwpFheSCoYBMrRCo/5j3NzJebsiCPGB1QLAmbWypYAfs+rd9IQuMiUPRJ9Lq3141GS5X19FHLul9L4Yhmdgh1vnSPCAgYfMu5olYWIRtGH3VQF3s=
  file_glob: true
  file: build/*
  skip_cleanup: true
  on:
    repo: damaex/ios-lib
    tags: false